In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel("/Users/luru/Downloads/c-return.xlsx")

In [10]:
df.columns

Index(['return-date', 'order-id', 'sku', 'asin', 'fnsku', 'product-name',
       'quantity', 'fulfillment-center-id', 'detailed-disposition', 'reason',
       'status', 'license-plate-number', 'customer-comments'],
      dtype='object')

In [19]:
df[0:1]

,return-date,order-id,sku,asin,fnsku,product-name,quantity,fulfillment-center-id,detailed-disposition,reason,status,license-plate-number,customer-comments
0,2019-10-17T21:58:22+00:00,306-2083383-1724332,14011005-3B_1389319,B076Z2SVF4,X000RRNGSH,oodji Ultra Damen Tailliertes Kleid mit Ausges...,1,KTW1,SELLABLE,UNWANTED_ITEM,Unit returned to inventory,LPNHK016412994,NaN

In [18]:
df.shape

(3862, 13)

In [16]:
df["reason"].value_counts()

APPAREL_TOO_SMALL                     1450
APPAREL_TOO_LARGE                      887
APPAREL_STYLE                          661
UNWANTED_ITEM                          207
MISORDERED                             200
NO_REASON_GIVEN                        131
DEFECTIVE                               83
QUALITY_UNACCEPTABLE                    52
UNDELIVERABLE_UNKNOWN                   47
NOT_AS_DESCRIBED                        45
MISSED_ESTIMATED_DELIVERY               20
ORDERED_WRONG_ITEM                      19
DAMAGED_BY_CARRIER                      18
SWITCHEROO                              15
UNDELIVERABLE_REFUSED                   12
NEVER_ARRIVED                            8
NOT_COMPATIBLE                           3
UNDELIVERABLE_INSUFFICIENT_ADDRESS       3
FOUND_BETTER_PRICE                       1
Name: reason, dtype: int64

In [20]:
df["customer-comments"]

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
3857                                                  NaN
3858                                                  NaN
3859                                                  NaN
3860    Es ist kein reinkommen in den Stiefel schaft v...
3861                                                  NaN
Name: customer-comments, Length: 3862, dtype: object

In [23]:
df2 = df["customer-comments"].dropna()
df2

7                                      Problemas de talla
9                                      Problemas de talla
10                                     Problemas de talla
21                        Not finished particularly well.
22         Wanted a matching set but colour didn't match.
                              ...
3814                         Ist das blau wie vorgestellt
3819                              Reissverschluss schr√§g
3821                                              za male
3853                      leider gef√§llt die Farbe nicht
3860    Es ist kein reinkommen in den Stiefel schaft v...
Name: customer-comments, Length: 487, dtype: object

In [26]:
df2.shape

(487,)